/* orange : #E23B33 */
/* blue : #26B4D5 */
/* black : #242D3B */
/* grey : #919293 */

@import url('https://rokovoko.github.io/cours-compte/css/css/font-awesome.min.css');

@font-face {
  font-family: "antonio-bold";
  src:
    url("https://rokovoko.github.io/cours-compte/fonts/antonio-bold-webfont.woff") format('woff'),
    url("https://rokovoko.github.io/cours-compte/fonts/antonio-bold-webfont.woff2") format('woff2'),
    url("https://rokovoko.github.io/cours-compte/fonts/Antonio-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "antonio-regular";
  src:
    url("https://rokovoko.github.io/cours-compte/fonts/antonio-regular-webfont.woff") format('woff'),
    url("https://rokovoko.github.io/cours-compte/fonts/antonio-regular-webfont.woff2") format('woff2'),
    url("https://rokovoko.github.io/cours-compte/fonts/Antonio-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "antonio-light";
  src:
    url("https://rokovoko.github.io/cours-compte/fonts/antonio-light-webfont.woff") format('woff'),
    url("https://rokovoko.github.io/cours-compte/fonts/antonio-light-webfont.woff2") format('woff2'),
    url("https://rokovoko.github.io/cours-compte/fonts/Antonio-Light.ttf") format('truetype');
}

#wrapper {
  position: relative;
  margin: 0 auto;
  width: 540px;
  height:360px;
  color: #242D3B;
  border: 1px solid #DDD;
  box-sizing: border-box;
  font-family: 'antonio-regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left, .right {
  position: relative;
  float: left;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
}

.left {
  width:40%;
}
.right {
  width:60%;
}

/*******************************/
/************* LEFT ************/
/*******************************/
.card {
  position: relative;
  margin : 3% auto;
  width: 94%;
  height: 94%;
  text-align: center;
  box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.2);
}

.zero, .one, .two, .three, .four, .five {

}

.zero {
  padding-top: 20px;
  padding-bottom: 20px;
}

.zero img {
  width: 60px;
}

.one {
  color: #242D3B;
  font-size: 3em;
  margin-bottom: 5px;
}

.two {
  color: #26B4D5;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.three {
  color: #E23B33;
  font-size: 1em;
  margin-bottom: 10px;
}

.four {
  color: #E23B33;
  font-size: 0.85em;
  margin-bottom: 10px;
}
.five {
  position: absolute;
  margin-bottom: 10px;
  bottom:0px;
  width:100%;
  text-align: center;
}

.five img {
  width:142px;
}
/********************************/
/************* RIGHT ************/
/********************************/

.wrapper {
  position:relative;
  height: 80px;
  padding: 15px 0;
}

.wrapper:first-child {
  margin-top: 20px;
}

.selector, .selected {
  left: 3%;
  width: 94%;
}

.slot {
  width:100%;
}

.slot, .slot-select, .selector, .selected {
  position: absolute;
  top: 0;
}

.group, .num, .arrow, .prev, .next, .slider {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}

.group {
  color: #242D3B;
  font-size: 0.8em;
  width: 65px;
  text-align: center;
}

.num {
  font-size: 1.5em;
  width: 30px;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #26B4D5;
  position: relative;
  top: -25px;
  margin-right: 20px;
}

.prev, .next {
  width: 25px;
  height: 25px;
  font-size:25px;
  position: relative;
  top: -30px;
  transition: all 0.1s;
  cursor: pointer;
}

.prev i, .next i {
  position: absolute;
  top: 0;
  left: 2px;
}

.prev:hover, .next:hover {
  font-size:35px;
  width: 35px;
  height: 35px;
  top: -25px;
}

.prev:hover {
  margin-left: -10px;
}

.slider {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 1px solid rgba(36,45,59,0.5);
  box-shadow: 0 0 1px 0px rgba(36,45,59,0.3) inset, 0 0 1px 0px rgba(36,45,59,0.3);
  box-sizing: border-box;
  border-radius: 15px;
  overflow:hidden;
}

.title {
  font-family: arial, sans-serif;
  position: absolute;
  right: 0;
  width: 190px;
  text-align: center;
  font-size: 0.8em;
  padding-top: 6px;
  top: 80px;
}

/*********************************/
/************* SLIDER ************/
/*********************************/
.selector ul {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 20000px;
  display: inline-block;
}

.selector li {
  position: relative;
  width: 80px;
  height: 80px;
  display: inline-block;
  opacity: 1;
  transition: all 0.6s;
  border-radius: 50px;
}

.selector li img {
  width: 100%;
  height:100%;
}

.selector li.current {
  opacity: 1;
}

.selector li.hide {
  display: none;
}

.selector li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  color: #E23B33;
  font-size: 0.6em;
  overflow-wrap: break-word;
}

.selector li span {
  position: absolute;
}


/*********************************/
/************* SLOTS ************/
/*********************************/

.slot-select {
  position: absolute;
  width: 90%;
  height: 80px;
  display: none;
  overflow: hidden;
}

.logo-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid rgba(36,45,59,0.5);
  box-shadow: 0 0 1px 0px rgba(36,45,59,0.3) inset, 0 0 1px 0px rgba(36,45,59,0.3);
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.name-select {
  position: absolute;
  top:0;
  left: 70px;
  height: 50%;
  width: 100%;
  padding: 20px 0 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(36,45,59,0.5);
}

/*********************************/
/************* SELECT ************/
/*********************************/

.selected {
  display:none;
  width: 95%;
  height: 100%;
  background-color: white;
}

.selected ul li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(36,45,59,0.5);
  font-size: 0.9em;
}

.selected ul li span:not(.auto) {
  float: left;
  width: 80px;
}

.selected ul li span.auto {
  font-family: arial, sans-serif;
}

.selected ul li.logo-fiche div {
  height: 80px;
  width: 100%;
  padding: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 5px;
}

.selected>div {
  margin-top: 15px;
}

.left-fiche, .right-fiche {
  position: relative;
  float: left;
}

.left-fiche {
  width: 69%;
}

.right-fiche {
  width: 30%;
  font-size: 0.9em;
}

.left-fiche div:first-child{
  display: inline-block;
  font-size: 0.9em;
  width: 70px;
}

.left-fiche .pie-chart {
  position: relative;
  top: -50px;
  width: 90px;
  height: 90px;
  left: 45%;
}

.left-fiche canvas, .left-fiche div.legend {
  position: absolute;
  left: 0;
  top: 0;
}

.left-fiche div.legend {
  display: none;
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right-fiche .number {
  margin: 3px 0;
  font-size: 2.5em;
  color: #E23B33;
}

.right-fiche div:last-child {
  font-size: 0.7em;
  margin-top: 5px;
  font-family: arial, sans-serif;
}

footer {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 0.9em;
}

footer .back {
  cursor: pointer;
  display: none;
}

.back .icon, .back .text {
  color: #E23B33;
  cursor: pointer;
}

.back .icon {
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #E23B33;
}

.back .text {
  position: relative;
  top: -3px;
  margin-right: 35px;
}

footer .date {
  position: relative !important;
  top: -3px !important;
  color: rgba(36,45,59,0.5);
  font-family: arial, sans-serif;
  display: none;
}
